**/node_modules/**
**/package-lock.json
**/build/**
**/report/**
**/reports/**
coverage
**/.idea/**
*.log
.gradle/
public/
.rollup.cache/
.scannerwork
*.tsbuildinfo

packages/**/tsconfig.tsbuildinfo
packages/**/*.js.map
packages/**/*.d.ts.map
packages/**/*.d.ts
*.d.ts.map
*.d.ts